div {
  width: 900px;
  height: 300px;
  padding: 20px;
  border: 5px solid gray;
  margin: 0;
}
body {
  background-color: skyblue;
  color: lightpink;
  font-family: Georgia, Times, serif;
}
h1, h2, h3{
  text-align: center;
  background-color: darkseagreen;
  color: azure;
}

h4 {
  color: black;
  text-align: center;
}

h5 {
  color: black;
  text-align: justify;
    text-decoration: underline;
    line-height: 0.6;
    font-family: Times New Roman, serif;
    font-size: 15px;
}
p {
  text-align: justify;
  color: black;
}
.box {
  width: 1160px;
  height: 200px;
  padding: 20px;
  border: 5px solid azure; 
  margin: 15px;
  text-align: justify;
  color: black;
  outline-style: solid; 
    outline-width: 2px; 
    outline-color: darkseagreen; 
    outline-offset: 5px; 
}
li {
  type: square;
  color: black;
  text-align: justify;
}
div
.container {
    display: flex;
    height: 152vh;
}
.left, .right {
    flex: 1;
    padding: 20px;
}

.left {
    background-color: tan;
}

.right {
    background-color: tan;
}

.divider {
    width: 1px;
    background-color: tan;
}
.icon {
  font-size: 24px;
  color: black;
  margin:10px;
}

table {
  border: border-collaps:;
  background-color: darkseagreen;
}
tr {
   hover {
    background-color: white;
  }
}
th {
  text-align: left;
  color: black;
}
td {  
  text-align: left;
  color: black;
}


div {
  background-color: #FFA07A;
  color: white;
}
img {
  width: 250px;
  height: 200px;
  margin-right: 10px;
  border-radius: 8px;
}

